@charset "UTF-8";

@font-face {
  font-family: "Lato-Bold";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Regular";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald-Bold";
  font-display: swap;
  src: url("../fonts/Oswald-Bold.woff") format("woff"), url("../fonts/Oswald-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald-DemiBold";
  font-display: swap;
  src: url("../fonts/Oswald-DemiBold.woff") format("woff"), url("../fonts/Oswald-DemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.nav-toggle {
  position: relative;
  z-index: 15;
  display: none;
  background: none;
  border: 0;
  padding: 9px 1px;
  cursor: pointer;
}

.nav-toggle:focus {
  outline: none;
}

.nav-toggle__item {
  width: 30px;
  height: 3px;
  background: #f05a29;
  display: block;
  font-size: 0;
  color: transparent;
  position: relative;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  -o-transition: transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
  background: #f05a29;
  position: absolute;
  right: 0;
  z-index: 1;
}

.nav-toggle__item:before {
  top: -8px;
}

.nav-toggle__item:after {
  bottom: -8px;
}

.nav-toggle._active .nav-toggle__item {
  background: none;
}

.nav-toggle._active .nav-toggle__item:before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: rotate(45deg) translateX(-3px);
  -ms-transform: rotate(45deg) translateX(-3px);
  transform: rotate(45deg) translateX(-3px);
}

.nav-toggle._active .nav-toggle__item:after {
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: rotate(-45deg) translateX(-3px);
  -ms-transform: rotate(-45deg) translateX(-3px);
  transform: rotate(-45deg) translateX(-3px);
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

Дефолт стилы
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */

.slick-slide:focus {
  outline: none;
}

.slider-header .slick-current {
  z-index: 3 !important;
}

.slider-header {
  position: relative;
}

.slider-header .slick-dots {
  position: absolute;
  bottom: 95px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slider-header .slick-dots li {
  margin: 0 2px;
}

/* Элемент точки */

.slider-header .slick-dots button {
  font-size: 0;
  width: 25px;
  height: 5px;
  background: #fff;
  border: 0;
  cursor: pointer;
}

.slider-header .slick-dots button:focus {
  outline: none;
}

/* Активная точка */

.slider-header .slick-dots li.slick-active button {
  background: #f05a29;
}

.no-webp .slider-header .slick-dots li.slick-active button#slick-slide-control01 .header{
  background: url("../img/header/bg2.png") no-repeat; }

.no-webp .header{
  background: url("../img/header/1bg.png") no-repeat; }

.header {
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.no-webp .header.active{
  background: url("../img/header/bg2.png") no-repeat; }

.header__top {
  position: relative;
  z-index: 4;
}

.header__top.fixed {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 15px 15px;
}

.header__slider {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: 100%;
}

.top-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-header__logo {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-animation: fastIccon 3s infinite linear;
  animation: fastIccon 3s infinite linear;
  position: relative;
  z-index: 15;
}

.top-header__iccon {
  width: 40px;
  height: 40px;
  fill: #f05a29;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.top-header__iccon:hover {
  fill: #45f029;
}

.top-header-list.active .top-header-menu__item {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.top-header-list.active .top-header-menu__item:nth-child(1) {
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.top-header-list.active .top-header-menu__item:nth-child(2) {
  -webkit-transition: all .8s ease .2s;
  -o-transition: all .8s ease .2s;
  transition: all .8s ease .2s;
}

.top-header-list.active .top-header-menu__item:nth-child(3) {
  -webkit-transition: all .8s ease .4s;
  -o-transition: all .8s ease .4s;
  transition: all .8s ease .4s;
}

.top-header-list.active .top-header-menu__item:nth-child(4) {
  -webkit-transition: all .8s ease .6s;
  -o-transition: all .8s ease .6s;
  transition: all .8s ease .6s;
}

.top-header-list.active .top-header-menu__item:nth-child(5) {
  -webkit-transition: all .8s ease .8s;
  -o-transition: all .8s ease .8s;
  transition: all .8s ease .8s;
}

.top-header-list.active .top-header-menu__item:nth-child(6) {
  -webkit-transition: all .8s ease 1s;
  -o-transition: all .8s ease 1s;
  transition: all .8s ease 1s;
}

.top-header-list.active .top-header-menu__item:nth-child(7) {
  -webkit-transition: all .8s ease 1.2s;
  -o-transition: all .8s ease 1.2s;
  transition: all .8s ease 1.2s;
}

.top-header-menu.active {
  display: block;
}

.top-header-menu__item {
  -webkit-transform: translate(-120%, 0px);
  -ms-transform: translate(-120%, 0px);
  transform: translate(-120%, 0px);
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.top-header-menu__item + .top-header-menu__item {
  margin-left: 20px;
}

.top-header-menu__link {
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Oswald-Bold";
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.top-header-menu__link_phone {
  color: #f05a29;
  display: block;
}

.top-header-menu__link_phone:hover {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.top-header-menu__link:hover {
  color: #f05a29;
}

.slider-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slider-header .slick-slide.active {
  z-index: 0 !important;
}

.slide__suptile {
  font-size: 18px;
  color: #f05a29;
  text-transform: uppercase;
  font-family: "Oswald-Bold";
  display: block;
}

.slide__title {
  font-size: 100px;
  color: #ffffff;
  line-height: 100px;
  text-transform: uppercase;
  margin-bottom: 45px;
  margin-left: -7px;
  display: block;
}

.slide__title_goal {
  margin-bottom: 15px;
}

.slide__text {
  color: #ffffff;
  font-size: 16px;
  line-height: 28px;
  font-family: "Lato-Bold";
  margin: 0 0 45px 0;
  max-width: 360px;
}

.slide__btn .button {
  display: inline-block;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  border: 3px solid #f05a29;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.slide__btn .button.active .button__text:before {
  top: -7px;
  -webkit-transition: all 0.1 ease 0s;
  -o-transition: all 0.1 ease 0s;
  transition: all 0.1 ease 0s;
  -webkit-box-shadow: 0 2px 0px 0 #0c5b52;
  box-shadow: 0 2px 0px 0 #0c5b52;
}

.slide__btn .button:hover {
  border: 0;
}

.slide__btn .button:hover:before,
.slide__btn .button:hover:after {
  left: 100%;
  opacity: 0;
}

.slide__btn .button:hover .button__text {
  top: -10px;
  color: #fff;
  -webkit-transition: all 0.5s ease 0.2s;
  -o-transition: all 0.5s ease 0.2s;
  transition: all 0.5s ease 0.2s;
  -webkit-box-shadow: 0 5px 0px 0 #0c5b52;
  box-shadow: 0 5px 0px 0 #0c5b52;
}

.slide__btn .button:hover .button__text:before {
  width: 100%;
}

.slide__btn .button:hover .button__text:before,
.slide__btn .button:hover .button__text:after {
  background: #18b5a4;
}

.slide__btn .button:before,
.slide__btn .button:after {
  content: " ";
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid red;
  top: -20px;
  left: 50%;
  z-index: 1;
  -webkit-transition: all 0.8s ease-in 0s;
  -o-transition: all 0.8s ease-in 0s;
  transition: all 0.8s ease-in 0s;
  margin-left: -40px;
}

.slide__btn .button:before {
  -webkit-animation: rotate 20s infinite linear;
  animation: rotate 20s infinite linear;
}

.slide__btn .button:after {
  -webkit-animation: rotate 25s infinite linear;
  animation: rotate 25s infinite linear;
}

.slide__btn .button__text {
  position: relative;
  height: 60px;
  padding: 0 40px;
  text-transform: uppercase;
  font-size: 24px;
  color: #f05a29;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.slide__btn .button__text:before,
.slide__btn .button__text:after {
  content: " ";
  position: absolute;
  width: 50%;
  height: 100%;
  background: transparent;
  -webkit-transition: all 0.8s ease-in 0s;
  -o-transition: all 0.8s ease-in 0s;
  transition: all 0.8s ease-in 0s;
}

.slide__btn .button__text:before {
  left: 0;
  z-index: 2;
}

.slide__btn .button__text:after {
  right: 0;
}

.slide__btn .button__text span {
  position: relative;
  z-index: 2;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.slide__btn .button:focus {
  outline: none;
}

.slide__bg {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@-webkit-keyframes fastIccon {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fastIccon {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.services {
  padding: 50px 0;
}

.inner-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.inner-services__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  padding: 0 15px;
}

.item-services {
  position: relative;
}

.item-services.active .item-services__img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.item-services.active .item-services__footer {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}

.item-services__header {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translate(0px, 120%);
  -ms-transform: translate(0px, 120%);
  transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.item-services__header.active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}

.item-services__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 36px;
  color: #f05a29;
  font-family: "Oswald-Bold";
}

.item-services__number:after {
  content: " ";
  display: block;
  width: 45px;
  height: 3px;
  background: #f05a29;
  margin: 0 15px 0 15px;
}

.item-services__title {
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
}

.item-services__img {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.item-services__img img {
  max-width: 100%;
}

.item-services__footer {
  margin-top: 25px;
  -webkit-transform: translate(0px, 120%);
  -ms-transform: translate(0px, 120%);
  transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.item-services__text {
  font-size: 14px;
  color: #666666;
  margin-bottom: 15px;
  line-height: 24px;
  font-family: "Lato-Regular";
}

.item-services__link {
  font-size: 14px;
  color: #9d9d9d;
  text-transform: uppercase;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.item-services__link:hover {
  color: #f05a29;
}

.why {
  padding: 50px 0;
  background: #02090a;
  position: relative;
  text-align: center;
}

.row-why__title {
  font-size: 48px;
  color: #f05a29;
  text-transform: uppercase;
  font-family: "Oswald-Bold";
  display: block;
  margin-bottom: 25px;
  -webkit-transform: translate(0px, 120%);
  -ms-transform: translate(0px, 120%);
  transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.row-why__title.active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}

.row-why__text {
  font-size: 14px;
  color: #ffffff;
  line-height: 24px;
  -webkit-transform: translate(0px, 120%);
  -ms-transform: translate(0px, 120%);
  transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.row-why__text.active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}

.row-why__text p {
  margin-bottom: 20px;
}

.row-why__text p:last-child {
  margin-bottom: 0;
}

.row-why__text p a {
  font-size: 14px;
  color: #f05a29;
  text-decoration: underline;
}

.row-why__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.benefit {
  background: #fff;
  padding: 65px 0;
}

.benefit__row {
  margin-bottom: 45px;
}

.benefit__title {
  font-size: 24px;
  color: #000000;
  text-transform: uppercase;
  font-family: "Oswald-Bold";
  max-width: 680px;
  margin: 0 auto;
  text-align: center;
  -webkit-transform: translate(0px, 120%);
  -ms-transform: translate(0px, 120%);
  transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.benefit__title.active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}

.benefit__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -35px;
}

.inner-benefit__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  padding: 0 35px;
}

.inner-benefit__item {
  text-align: center;
  -webkit-transform: translate(0px, 120%);
  -ms-transform: translate(0px, 120%);
  transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.inner-benefit__item.active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}

.inner-benefit__img {
  margin: 0 auto;
  width: 75px;
  height: 75px;
  background: #f05a29;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
}

.inner-benefit__title {
  margin-top: 20px;
  font-family: "Oswald-Bold";
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
}

.gallery__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.gallery__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  position: relative;
  height: 100%;
  padding-bottom: 20%;
}

.gallery__column.active .gallery__img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.gallery__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.action {
  padding: 35px 0;
  background: #f05a29;
}

.action__title {
  font-size: 46px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Oswald-Bold";
}

.action__btn .btn {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Oswald-Bold";
  border: 3px solid #fff;
  height: 45px;
  padding: 10px 25px;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.action__btn .btn:hover {
  background: #fff;
  color: #000;
}

.testimonial {
  padding: 50px 0;
  background: #fff;
}

.testimonial__inner {
  padding-bottom: 115px;
}

.testimonial__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.testimonial__content {
  padding-left: 100px;
}

.testimonial__btn {
  text-align: center;
}

.testimonial__btn .btn {
  display: inline-block;
  font-size: 16px;
  color: #f05a29;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald-Bold";
  padding: 10px 45px;
  background: transparent;
  border: 3px solid #f05a29;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.testimonial__btn .btn:hover {
  background: #f05a29;
  color: #000;
}

.column-testimonial {
  position: relative;
}

.column-testimonial.active .column-testimonial__img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.column-testimonial.active .column-testimonial__subimage {
  -webkit-transform: translateY(-50%) scale(1);
  -ms-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
}

.column-testimonial__img {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.column-testimonial__subimage {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 3;
  -webkit-transform: translateY(-50%) scale(0);
  -ms-transform: translateY(-50%) scale(0);
  transform: translateY(-50%) scale(0);
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.content-testimonial__title {
  font-size: 18px;
  color: #000000;
  text-transform: uppercase;
  display: block;
  margin: 10px 0 15px;
  font-family: "Oswald-Bold";
}

.content-testimonial__text {
  font-size: 14px;
  color: #666666;
  line-height: 24px;
  font-family: "Lato-Regular";
}

.content-testimonial__text span {
  font-size: 14px;
  color: #f05a29;
  line-height: 36px;
  font-family: "Oswald-Bold";
}

.content-testimonial__footer {
  margin-top: 25px;
}

.content-testimonial__name {
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  font-family: "Oswald-Bold";
  margin-bottom: 5px;
}

.content-testimonial__author {
  font-size: 12px;
  color: #999999;
}

.evaluation-testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.evaluation-testimonial__item + .evaluation-testimonial__item {
  margin-left: 5px;
}

.evaluation-testimonial__iccon {
  width: 12px;
  height: 12px;
  fill: #f05a29;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.no-webp .reviews{
  background: url("../img/reviews/bg.png") no-repeat; }

.reviews {
  padding: 75px 0;
  background-size: cover;
}

.reviews__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slide-reviews {
  text-align: center;
  max-width: 690px;
  margin: 0 auto;
}

.slide-reviews__text {
  margin: 35px 0;
  font-size: 20px;
  color: #ffffff;
  line-height: 36px;
}

.slide-reviews__author {
  font-size: 17px;
  color: #ffffff;
}

.footer-top {
  padding: 45px 0;
  background: #222222;
}

.footer-top__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.footer-top__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 30%;
  flex: 0 1 30%;
  padding: 0 15px;
}

.footer-top__column_sm {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 20%;
  flex: 0 1 20%;
}

.footer-top__title {
  margin-bottom: 15px;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Oswald-Bold";
}

.footer-top__address {
  font-size: 13px;
  color: #bbbbbb;
  line-height: 20px;
  font-family: "Lato-Regular";
  margin-bottom: 10px;
  font-style: normal;
}

.footer-top__email {
  font-size: 13px;
  color: #bbbbbb;
  line-height: 36px;
  font-family: "Lato-Regular";
  display: block;
}

.footer-top__phone {
  font-size: 13px;
  color: #bbbbbb;
  line-height: 36px;
  font-family: "Lato-Regular";
  margin-bottom: 10px;
  display: block;
}

.footer-top__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-top__item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #365493;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.footer-top__item + .footer-top__item {
  margin-left: 7px;
}

.footer-top__item:hover {
  background: #000;
}

.footer-top__item_2 {
  background: #33ccff;
}

.footer-top__item_3 {
  background: #d44132;
}

.footer-top__item_4 {
  background: #cb2027;
}

.footer-top__text {
  font-size: 13px;
  color: #bbbbbb;
  line-height: 24px;
  font-family: "Lato-Regular";
}

.footer-top-menu__item + .footer-top-menu__item {
  margin-top: 10px;
}

.footer-top-menu__link {
  font-size: 13px;
  color: #bbbbbb;
  font-family: "Lato-Regular";
  margin-bottom: 10px;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.footer-top-menu__link:hover {
  color: #f05a29;
}

.no-webp .footer-top-list__item{
  background: url("../img/footer/menu-twit.png") no-repeat 0 6px; }

.footer-top-list__item {
  font-size: 13px;
  line-height: 24px;
  color: #bbbbbb;
  font-family: "Lato-Regular";
  padding-left: 20px;
}

.footer-top-list__item + .footer-top-list__item {
  margin-top: 35px;
}

.footer-top-list__link {
  color: #eeeeee;
}

.footer-top-list__link:hover {
  text-decoration: underline;
}

.footer-bottom {
  padding: 25px 0;
  background: #181818;
}

.footer-bottom__title {
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Lato-Bold";
}

.footer-bottom-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-bottom-menu__item + .footer-bottom-menu__item {
  margin-left: 15px;
}

.footer-bottom-menu__link {
  font-size: 14px;
  color: #999999;
  text-transform: uppercase;
  font-family: "Lato-Bold";
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.footer-bottom-menu__link:hover {
  color: #fff;
}

.no-webp .header-about{
  background: url("../img/header/bg2.png") no-repeat; }

.header-about {
  min-height: 100vh;
}

.header-about__title {
  color: #f05a29;
  margin-bottom: 10px;
  margin-left: 0;
}

.features {
  padding: 50px 0;
  background: #fff;
}

.features__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -25px;
}

.features__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  padding: 0 25px;
}

.features-item {
  text-align: center;
}

.features-item__title {
  font-size: 24px;
  color: #f05a29;
  text-transform: uppercase;
  margin: 15px 0;
  font-family: "Lato-Regular";
}

.features-item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  color: #666666;
  line-height: 24px;
  font-family: "Lato-Regular";
  max-width: 400px;
  margin: 0 auto;
}

.about-services {
  padding: 50px 0;
  background: #fff;
}

.about-services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.about-services__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  padding: 0 15px;
}

.about-services__column_m {
  margin-top: 25px;
}

.about-services__item {
  position: relative;
  padding-bottom: 82%;
}

.about-services__item_t {
  padding-bottom: 0 !important;
}

.about-services__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.about-services__title {
  text-transform: uppercase;
  font-size: 18px;
  color: #000;
  line-height: 30px;
  font-family: "Oswald-Bold";
  margin-bottom: 10px;
}

.about-services__text {
  font-size: 14px;
  line-height: 28px;
  color: #666666;
  font-family: "Lato-Regular";
}

.about-services__text p + .about-services__text p {
  margin-top: 25px;
}

.benefit-services {
  padding: 50px 0;
  background: #f6f6f6;
}

.benefit-services__title {
  display: block;
  margin-bottom: 35px;
  font-size: 48px;
  text-transform: uppercase;
  font-family: "Oswald-Bold";
  text-align: center;
}

.benefit-services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.benefit-services__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  padding: 0 15px;
}

.benefit-services__column_m {
  margin-top: 45px;
}

.benefit-services__iccon {
  width: 100px;
  height: 100px;
  background: #f05a29;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.benefit-services__iccon span {
  font-size: 30px;
  color: #ffffff;
  font-family: "Oswald-Bold";
}

.benefit-services__suptitle {
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 20px;
  text-align: center;
  font-family: "Oswald-Bold";
}

.global-wrapper {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Lato-Regular";
  color: #666666;
  font-size: 14px;
  margin: 0;
}

html,
body {
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0 0 4px;
}

@media (min-width: 768px) {
  .top-header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .action__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .footer-bottom__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (min-width: 991px) {
  .testimonial__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 1200px) {
  .testimonial__content {
    padding-left: 50px;
  }
}

@media (max-width: 1145px) {
  .benefit__inner {
    margin: 0 -15px;
  }

  .inner-benefit__column {
    padding: 0 15px;
  }

  .inner-benefit__title {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  .inner-services__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .inner-services__column:last-child {
    margin-top: 25px;
  }

  .item-services__title {
    font-size: 14px;
  }

  .gallery__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    padding-bottom: 35%;
  }
}

@media (max-width: 990px) {
  .inner-benefit__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .inner-benefit__column_m {
    margin-bottom: 25px;
  }

  .action__title {
    font-size: 40px;
  }

  .action__btn .btn {
    font-size: 14px;
  }

  .testimonial__inner {
    padding-bottom: 30px;
  }

  .testimonial__content {
    padding-left: 0;
    max-width: 600px;
    margin: 95px auto 0;
    text-align: center;
  }

  .column-testimonial__img {
    text-align: center;
  }

  .column-testimonial__subimage {
    right: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }

  .evaluation-testimonial {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer-top__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .footer-top__column_sm {
    margin-bottom: 25px;
  }

  .footer-top-list__item {
    max-width: 285px;
  }

  .features__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .features__column_m {
    margin-bottom: 25px;
  }

  .about-services__column_m {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .about-services__item_p {
    padding-bottom: 65%;
  }
}

@media (max-width: 800px) {
  .footer-bottom__title {
    font-size: 11px;
  }
}

@media (max-width: 767px) {
  .nav-toggle {
    display: block;
  }

  .top-header-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #f05a29;
    padding: 140px 20px 30px 20px;
    z-index: 10;
  }

  .top-header-menu:before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 95px;
    z-index: 11;
  }

  .top-header-menu__item + .top-header-menu__item {
    margin-left: 0;
    margin-top: 5px;
  }

  .top-header-menu__link {
    font-size: 25px;
  }

  .top-header-menu__link:hover {
    color: #000;
  }

  .slide__title {
    font-size: 81px;
  }

  .services {
    padding: 25px 0;
  }

  .inner-services__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .inner-services__column:last-child {
    margin-top: 0;
  }

  .inner-services__column + .inner-services__column {
    margin-top: 15px;
  }

  .why {
    padding: 25px 0;
  }

  .benefit {
    padding: 35px 0;
  }

  .benefit__row {
    margin-bottom: 25px;
  }

  .benefit__title {
    font-size: 20px;
  }

  .action {
    padding: 25px 0;
  }

  .action__title {
    text-align: center;
  }

  .action__btn {
    margin-top: 15px;
    text-align: center;
  }

  .testimonial {
    padding: 25px 0;
  }

  .column-testimonial__img img {
    max-width: 100%;
  }

  .column-testimonial__subimage img {
    max-width: 100%;
  }

  .reviews {
    padding: 35px 0;
  }

  .slide-reviews__text {
    margin: 15px 0;
    line-height: 30px;
  }

  .footer-top {
    padding: 25px 0;
  }

  .footer-bottom__title {
    margin-bottom: 10px;
    text-align: center;
  }

  .features {
    padding: 25px 0;
  }

  .features__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .features__column + .features__column {
    margin-top: 15px;
  }

  .features__column_m {
    margin-bottom: 0;
  }

  .features-item__title {
    margin: 10px 0;
  }

  .about-services {
    padding: 25px 0;
  }

  .benefit-services {
    padding: 25px 0;
  }

  .benefit-services__title {
    font-size: 41px;
  }

  .benefit-services__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .benefit-services__column + .benefit-services__column {
    margin-top: 25px;
  }

  .benefit-services__column_mm {
    margin-top: 0 !important;
  }

  .benefit-services__column_m {
    margin-top: 0;
  }
}

@media (max-width: 620px) {
  .testimonial__content {
    margin: 25px auto 0;
  }

  .column-testimonial__subimage {
    display: none;
  }
}

@media (max-width: 575px) {
  .slide__title {
    margin-top: 15px;
    margin-left: 0;
    line-height: 55px;
    font-size: 47px;
  }

  .slide__btn .button:hover .button__text {
    top: 0;
  }

  .slide__btn .button:before,
  .slide__btn .button:after {
    display: none;
  }

  .row-why__title {
    margin-bottom: 15px;
  }

  .benefit__title {
    font-size: 17px;
  }

  .inner-benefit__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .inner-benefit__column + .inner-benefit__column {
    margin-top: 20px;
  }

  .inner-benefit__column_m {
    margin-bottom: 0;
  }

  .action__title {
    font-size: 30px;
  }

  .content-testimonial__title {
    font-size: 16px;
  }

  .footer-top__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    text-align: center;
  }

  .footer-top__column_sm {
    margin-bottom: 0;
  }

  .footer-top__column + .footer-top__column {
    margin-top: 25px;
  }

  .footer-top__social {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer-top-list__item {
    margin: 0 auto;
  }

  .footer-bottom-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .footer-bottom-menu__item + .footer-bottom-menu__item {
    margin-left: 0;
    margin-top: 5px;
  }

  .about-services__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .about-services__column + .about-services__column {
    margin-top: 25px;
  }

  .about-services__column_m {
    margin-top: 0;
  }

  .about-services__item {
    padding-bottom: 75%;
  }

  .benefit-services__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .benefit-services__column_mm {
    margin-top: 25px !important;
  }
}

@media (max-width: 465px) {
  .item-services__header {
    margin-bottom: 10px;
  }

  .item-services__number {
    font-size: 35px;
  }

  .item-services__footer {
    margin-top: 15px;
  }
}

@media (max-width: 400px) {
  .gallery__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    padding-bottom: 75%;
    height: 230px;
  }
}

@media (max-height: 945px) {
  .header {
    min-height: 100vh;
  }
}

@media (max-height: 655px) {
  .header {
    min-height: 655px;
  }
}

@media (min-height: 946px) {
  .header {
    padding-bottom: 120px;
  }

  .header .slick-dots {
    bottom: -10%;
  }
}

.webp .slider-header .slick-dots li.slick-active button#slick-slide-control01 .header{ background: url(../img/header/bg2.webp) no-repeat; }

.webp .header{ background: url(../img/header/1bg.webp) no-repeat; }

.webp .header.active{ background: url(../img/header/bg2.webp) no-repeat; }

.webp .reviews{ background: url(../img/reviews/bg.webp) no-repeat; }

.webp .footer-top-list__item{ background: url(../img/footer/menu-twit.webp) no-repeat 0 6px; }

.webp .header-about{ background: url(../img/header/bg2.webp) no-repeat; }